@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

.wrapper-title-page {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 99vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.75) url(../images/photo-first-page-light.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: darken;

    .content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;


        .decoration-line {
            border-top: 10px solid $turquoise-color;
            width: 100%;
        }


        .title {
            color: white;
            font-size: 5rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
        }

        .slogan {
            color: white;
            font-size: 2rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
        }
    }
}