.wrapper-7 {
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;

    .line7 {
        border-top: 7px solid $turquoise-color;
        position: absolute;
        margin-top: 3rem;
        margin-left: 5rem;
        width: 60rem;
    }

    .logo7 {
        position: absolute;
        height: 10rem;
        width: 15rem;
        left: 65rem;
    }

    .container-7-left {
        margin: 8rem 6rem 0 5rem;
    }

    .container-7-right {


        .img_7p {
            width: 100%;

        }

    }
}

.wrapper-8 {
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .line8 {
        border-top: 7px solid $turquoise-color;
        position: absolute;
        margin-top: 3rem;
        margin-left: 5rem;
        width: 60rem;
    }

    .logo8 {
        position: absolute;
        height: 10rem;
        width: 15rem;
        left: 65rem;
    }

    .container-8-left {
        .img_8p {
            height: 100%;
            width: 100%;
        }
    }

    .container-8-right {
        margin: 8rem 6rem 0 5rem;
    }


}

.wrapper-9 {
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    .line9 {
        border-top: 7px solid $turquoise-color;
        position: absolute;
        margin-top: 4rem;
        margin-left: 5rem;
        width: 60rem;
    }

    .logo9 {
        position: absolute;
        height: 10rem;
        width: 15rem;
        left: 65rem;
    }

    .container-9-left {
        margin: 8rem 6rem 0 5rem;
    }

    .container-9-right {

        .img_9p {
            width: 100%
        }
    }
}

img {
    max-width: 100%;
    max-height: 100%;


}

.bold {
    font-weight: bold;
}