.wrapper-7 {

    .line7 {
        border-top: 7px solid $turquoise-color;
        position: absolute;
        margin-top: 3rem;
        margin-left: 5rem;
        width: 60rem;
    }

    .container-7-left {
        margin: 8rem 6rem 0 5rem;
        text-align: justify;
    }

    .container-7-right {
        margin-left: 5rem;
        opacity: 0.8;

        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

        transition-property: opacity, transform;

        &:hover {
            transform: translate(-5rem, 0);
            transition-duration: 2s;
        }

        .img_7p {
            width: 100%;


        }

    }
}

.wrapper-8 {

    .line8 {
        border-top: 7px solid $turquoise-color;
        position: absolute;
        margin-top: 3rem;
        margin-left: 5rem;
        width: 60rem;
    }

    .container-8-left {
        margin-right: 5rem;

        &:hover {
            transform: translate(5rem, 0);
            transition-duration: 2s;
        }

        .img_8p {
            height: 100%;
            width: 100%;
            opacity: 0.8;

        }
    }

    .container-8-right {
        margin: 8rem 6rem 0 5rem;
        text-align: justify;
    }


}

.wrapper-9 {


    .line9 {
        border-top: 7px solid $turquoise-color;
        position: absolute;
        margin-top: 4rem;
        margin-left: 5rem;
        width: 60rem;
    }

    .container-9-left {
        margin: 8rem 6rem 0 5rem;
        text-align: justify;
    }

    .container-9-right {
        margin-left: 5rem;

        &:hover {
            transform: translate(-5rem, 0);
            transition-duration: 2s;
        }

        .img_9p {
            width: 100%;
            opacity: 0.8;


        }
    }
}

.wrapper-7,
.wrapper-8,
.wrapper-9 {
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.logo {
    position: absolute;
    height: 10rem;
    width: 15rem;
    left: 65rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.bold {
    font-weight: bold;
}