// global styles

* {
    // outline: darkcyan 2px dotted;
    font-family: "Roboto", sans-serif;
    //overflow: hidden;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

h2 {
    font-size: 2.5rem;
}

// page 4 styles start

.why-important__wrapper {
    height: 100%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2%;

    .why-important__logo-set {
        display: flex;
        width: 100%;
        height: 16vh;
        margin-top: 1rem;

        .why-important__line {
            border-top: 10px solid $turquoise-color;
            width: 50%;
            margin-top: 1rem;
            flex-grow: 1;
        }

        .why-important__logo {
            height: 15vh;
        }
    }

    .why-important__title {
        color: $gray-color;
    }

    .why-important__card-set {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .why-important__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 33%;
            position: relative;
            padding-top: 2.5rem;

            .why-important__number {
                color: $turquoise-color;
                font-size: 5rem;
                font-weight: bold;
                width: 6rem;
                text-align: center;
                background-color: #ffffff;
                border-radius: 5rem;
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
            }

            .why-important__block {
                background-color: #eaeef1;
                color: #404040;
                width: 55%;
                font-size: 1.25rem;
                text-align: left;
                border-radius: 0rem 3rem 3rem 0rem;
                padding: 2rem;
            }
        }
    }

    .why-important__footer {
        margin-top: 3rem;
    }
}

// page 4 styles end


// page 5 styles start
.our-offer__wrapper {
    height: 100%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2%;

    .our-offer__logo-set {
        display: flex;
        width: 100%;
        height: 16vh;
        margin-top: 1rem;

        .our-offer__line {
            border-top: 10px solid $turquoise-color;
            width: 50%;
            margin-top: 1rem;
            flex-grow: 1;
        }

        .our-offer__logo {
            height: 15vh;
        }
    }

    .our-offer__content {
        display: flex;
        flex-direction: row;

        .our-offer__text-area {
            display: flex;
            flex-direction: column;
            width: 60%;

            .our-offer__title {
                color: $gray-color;
                margin: 0.1rem 0;
            }

            .bold {
                font-weight: bold;
            }

            .our-offer__section {
                padding: 0;
                font-size: 1.25rem;

                .our-offer__section-title {
                    margin: 0;
                }
            }
        }


        .our-offer__img-area {
            position: relative;
            height: 84%;
            width: 40%;

            our-offer__img {
                position: absolute;
                clip: rect(200px, 60px, 200px, 0px);
            }
        }
    }
}