// global styles

* {
    // outline: darkcyan 2px dotted;
    font-family: "Roboto", sans-serif;
    //overflow: hidden;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

// расстояния между страницами
.page-break__4-5-6 {
    height: 20vh;
}

// page 4 styles start

.why-important__wrapper {
    height: 98%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2% 2% 2%;

    .why-important__title {
        color: $gray-color;
        font-size: 2.5rem;
    }

    .why-important__card-set {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .why-important__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 33%;
            position: relative;
            padding-top: 2.5rem;

            .why-important__number {
                color: $turquoise-color;
                font-size: 5rem;
                font-weight: bold;
                width: 6rem;
                text-align: center;
                background-color: #ffffff;
                border-radius: 5rem;
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
            }

            .why-important__block {
                background-color: #eaeef1;
                color: #404040;
                width: 55%;
                font-size: 1.25rem;
                text-align: left;
                border-radius: 0rem 3rem 3rem 0rem;
                padding: 2rem;
            }
        }
    }

    .why-important__footer {
        margin-top: 3rem;
    }
}


// page 4 styles end


// page 5 styles start
.our-offer__wrapper {
    height: 98%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2% 2% 2%;
    // remove after editing
    // background-image: url(../images/img_p5.jpg);
    // background-position: top right;
    // background-repeat: no-repeat;
    // background-size: 40%;

    .our-offer__content {
        display: flex;
        flex-direction: row;

        .our-offer__text-area {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin-right: 4rem;

            .our-offer__title {
                color: $gray-color;
                font-size: 2.5rem;
                margin: 0.1rem 0;
            }

            .bold {
                font-weight: bold;
            }

            .our-offer__section {
                padding: 0;
                font-size: 1.25rem;

                .our-offer__section-title {
                    margin: 0;
                }
            }
        }

        .our-offer__img-area {
            display: flex;
            flex-direction: row;
            justify-items: flex-end;
            width: 35%;

            // animation
            transition-duration: 2s;

            &:hover {
                transform: translate(-4rem, 0);
                transition-duration: 2s;
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }

            .our-offer__img {
                border-radius: 10rem;
            }
        }
    }
}

// page 5 styles end

// page 6 styles start

.book-quest__wrapper {
    height: 100vh;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 2%;


    .book-quest__content {
        display: flex;
        flex-direction: row;

        .book-quest__img-area {
            width: 45%;

            // animation
            transition-duration: 2s;

            &:hover {
                transform: translate(4rem, 0);
                transition-duration: 2s;
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }

            .book-quest__img-top {
                border-radius: 10rem 10rem 0 0;
            }

            .book-quest__img-bottom {
                border-radius: 0 0 10rem 10rem;
            }
        }

        .book-quest__text-area {
            display: flex;
            flex-direction: column;
            width: 55%;
            margin-left: 4rem;

            .book-quest__section {
                padding: 0 1.5rem;
                font-size: 1.25rem;

                .book-quest__section-title {
                    margin-top: 5rem;
                }

                .bold {
                    font-weight: bold;
                }
            }
        }
    }
}

// page 6 styles end

// page 4 adaptivity
@media screen and (min-width: 320px) {}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) and (max-width: 1090px) {

    .why-important__wrapper {

        .why-important__card-set {

            .why-important__card {

                .why-important__number {
                    top: 0;
                    left: 0;
                }

                .why-important__block {
                    width: 65%;
                    border-radius: 3rem 3rem 3rem 0rem;
                }
            }
        }
    }
}




// .why-important__wrapper {
//     height: 98%;
//     width: 96%;
//     display: flex;
//     flex-direction: column;
//     margin: 0 2% 2% 2%;

//     .why-important__title {
//         color: $gray-color;
//         font-size: 2.5rem;
//     }

//     .why-important__card-set {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         .why-important__card {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             height: 100%;
//             width: 33%;
//             position: relative;
//             padding-top: 2.5rem;

//             .why-important__number {
//                 color: $turquoise-color;
//                 font-size: 5rem;
//                 font-weight: bold;
//                 width: 6rem;
//                 text-align: center;
//                 background-color: #ffffff;
//                 border-radius: 5rem;
//                 position: absolute;
//                 top: 0.5rem;
//                 left: 0.5rem;
//             }

//             .why-important__block {
//                 background-color: #eaeef1;
//                 color: #404040;
//                 width: 55%;
//                 font-size: 1.25rem;
//                 text-align: left;
//                 border-radius: 0rem 3rem 3rem 0rem;
//                 padding: 2rem;
//             }
//         }
//     }

//     .why-important__footer {
//         margin-top: 3rem;
//     }
// }