@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

// Page 14 STYLES Kate-4-Kotish start
.page-14 {
    height: 98%;
    width: 96%;
    margin: 0 2% 17vh 2%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: rgba(0, 0, 0, 0.1) url(../images/img_p14_bg.jpg) no-repeat;
    background-size: cover;

    .section-title {
        font-size: 2.5rem;
        color: $gray-color;
        margin: 1rem 0 1rem 3rem;
    }

    .review {
        font-size: 1.25rem;
        margin: 1rem 0;

        &-item {
            border-left: $gray-color solid 0.5rem;
            padding-left: 2rem;
        }

        .review-sub-text {
            display: flex;
            justify-content: flex-end;
            align-items: left;
            font-style: italic;
        }

        .review-text .review-1 {
            .review-text-1 {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .review-2 {
        .review-text-2 {
            display: flex;
            justify-content: flex-end;
        }
    }

    .review-3 {


        .review-text-3 {
            display: flex;
            justify-content: flex-end;
        }
    }

}

// Page 14 STYLES Kate-4-Kotish end



// Page 15 STYLES Tatsiana-4-Kotish start

// *{
//     border: 1px solid red;
// }
.page-15 {
    width: 96%;
    margin: 0 2% 0 2%; 
    
    .section-title {
        font-size: 2.7rem;
        color: $gray-color;
        padding-left: 2rem;
        padding-top: 6rem;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
            font-size: 2.3rem;
        }

        @media screen and (max-width: 425px) {
            font-size: 2rem;
            padding-left: 1rem;
        }

        @media screen and (max-width: 376px) {
            margin-bottom: 2rem;
        }
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        &-item {
            display: flex;
            width: 41%;
            justify-content: center;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            .team-div-img {
                width: 12rem;
                height: 12rem;

                .team-img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .team-item-top {
            margin-bottom: 4rem;
            margin-top: 4rem;

            @media screen and (max-width: 1024px) {
                margin-bottom: 3rem;
                margin-top: 3rem;
            }

            @media screen and (max-width: 426px) {
                margin-bottom: 0;
                margin-top: 2rem;
            }

            @media screen and (max-width: 376px) {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        .team-item-lower {
            margin-bottom: 2rem;
            margin-top: 3rem;

            @media screen and (max-width: 1024px) {
                margin-bottom: 1rem;
                margin-top: 2rem;
            }

            @media screen and (max-width: 767px) {
                margin-bottom: 3rem;
                margin-top: 3rem;
            }

            @media screen and (max-width: 426px) {
                margin-bottom: 0;
                margin-top: 2rem;
            }

            @media screen and (max-width: 376px) {
                margin-bottom: 0;
                margin-top: 0;
            }
        }

        .team-text {
            margin-left: 1.8rem;
            width: 13rem;
        }

        .name {
            font-size: 2rem;
            font-family: "Roboto", sans-serif;
            color: $gray-color;

            @media screen and (max-width: 1024px) {
                font-size: 1.6rem;
            }

            @media screen and (max-width: 425px) {
                font-size: 1.4rem;
            }
        }

        .post {
            font-size: 1.3rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            line-height: 2.2rem;
            color: $gray-color;

            @media screen and (max-width: 1024px) {
                font-size: 1.2rem;
                line-height: 1.5rem;
            }

            @media screen and (max-width: 425px) {
                font-size: 1rem;
            }
        }
    }
}

// Page 15 STYLES Tatsiana-4-Kotish end



// Page 16 STYLES Valeria-4-Kotish start
.wrapper-contacts {
    box-sizing: border-box;
    max-height: 99vh;
    max-width: 99vw;

    .contacts-main {
        display: flex;
        height: 95%;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 6.5rem 2% 3rem 2%;
        text-align: center;

        .contacts-main__title {
            color: $gray-color;
            font-size: 2rem;
        }

        .contacts-main__button-head {
            font-size: 1.5rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            color: $gray-color;
        }

        .contacts-main__mail-head {
            font-size: 1.5rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            color: $gray-color;
            margin-top: 2rem;
        }

        .contacts-main__mail {
            font-size: 2.5rem;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            color: $turquoise-color;
            margin-top: 2rem;
        }
    }

    .contacts-main__button {
        align-self: center;
        border: solid 1px $turquoise-color;
        padding: 1.5rem 3rem;
        border-radius: 25px;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: "Roboto",
            sans-serif;
        transition: 0.3s;

        &:hover {
            background-color: $turquoise-color;

            a {
                color: #fff;
            }
        }

        &::after {
            background-image: url(../../assets/images/img_p16.png);
            background-size: cover;
            width: 50px;
            height: 50px;
            content: "";
            display: block;
            position: absolute;
            right: -20px;
            bottom: -20px;
            display: none;

        }

        .contacts-main__button-link {
            text-decoration: none;
            color: $turquoise-color;
            transition: 0.3s;
        }
    }
}


// Page 16 STYLES Valeria-4-Kotish end




// Page 14 ADAPTIVITY Kate-4-Kotish start
@media screen and (min-width: 320px) and (max-width: 374px) {}

// Page 14 ADAPTIVITY Kate-4-Kotish end


// Page 15 ADAPTIVITY Tatsiana-4-Kotish start
@media screen and (min-width: 320px) and (max-width: 374px) {}

// Page 15 ADAPTIVITY Tatsiana-4-Kotish end


// Page 16 ADAPTIVITY Valeria-4-Kotish start

@media screen and (min-width: 320px) and (max-width: 768px) {
    .wrapper-contacts {
        max-height: fit-content;

        .contacts-main {
            height: fit-content;
            margin: 6.5rem 2%;

            .contacts-main__title {
                font-size: 1.5rem;
            }

            .contacts-main__button-head {
                font-size: 1rem;
            }

            .contacts-main__button {
                font-size: 1.5rem;
                border-radius: 15px;
                padding: 1rem 2rem;
            }

            .contacts-main__mail-head {
                margin-top: 1rem;
            }

            .contacts-main__mail {
                margin-top: 1rem;
                font-size: 1.5rem;
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper-contacts {

        .contacts-main {
            height: fit-content;
            margin: 6.5rem 2%;

            .contacts-main__title {
                font-size: 1.8rem;
            }

            .contacts-main__button-head {
                font-size: 1.3rem;
            }

            .contacts-main__button {
                font-size: 1.8rem;
                border-radius: 20px;
                padding: 1.5rem 2.5rem;
            }

            .contacts-main__mail-head {
                margin-top: 1.5rem;
            }

            .contacts-main__mail {
                margin-top: 1.5rem;
                font-size: 1.8rem;
            }
        }
    }

}


// Page 16 ADAPTIVITY Valeria-4-Kotish end




// Ниже закоментированы предыдущие адаптивные стили. Берите из них, что нужно. Лишнее потом удалим.

// ADAPTIVE
// @media screen and (min-width: 320px) and (max-width: 374px) {
//     // .wrapper-14-16 {
//     //     min-width: 320px;
//     //     max-width: 320px;

//     .page-14 {
//         padding: 0;
//         height: auto;
//         // background-image: none;
//         // background-color: #fff;

//         .section-title {
//             padding-top: 0;
//         }

//         // h1 {
//         //     margin-top: 0;
//         // }

//         .review {
//             line-height: 1.75;
//         }
//     }

//     .review-sub-text {
//         display: flex;
//         flex-direction: column;

//     }

//     .page-15 {
//         padding: 0;
//         height: auto;
//         margin: 0;

//         .section-title {
//             padding: 0;
//             text-align: center;
//         }

//         .team {
//             display: flex;
//             flex-direction: column;

//             h2 {
//                 font-size: 1rem;
//             }

//             p {
//                 font-size: 1rem;
//             }


//             &-item {
//                 display: flex;
//                 flex-direction: column;
//                 margin-top: 1rem;
//                 margin-bottom: 0.1rem;
//                 align-items: center;
//                 width: 100%;

//             }

//         }

//     }

//     .page-16 {
//         padding: 0 0.5rem;
//         height: auto;

//         .form {
//             line-height: 1.8rem;

//             &-title {
//                 // h1 {
//                 //     font-size: 1.5rem;
//                 //     padding: 0;
//                 //     margin-top: 3rem;
//                 // }
//             }

//             &-item-1 {
//                 width: 100%;

//                 h2 {
//                     font-size: 1.2rem;
//                     margin-top: 2rem;
//                 }
//             }

//             &-item-2 {
//                 width: 100%;
//                 font-size: 1.3rem;
//             }

//             &-item-3 {
//                 width: 100%;
//                 font-size: 1.3rem;

//             }


//             &-button {
//                 width: 250px;
//                 padding: 12px;
//                 font-size: 1.5rem;

//                 &::after {
//                     display: none;
//                 }

//             }

//         }
//     }
// }

// // }

// @media screen and (min-width: 375px) and (max-width: 424px) {
//     // .wrapper-14-16 {
//     //     min-width: 320px;
//     //     max-width: 320px;

//     .page-14 {
//         padding: 0;
//         height: auto;
//         // background-image: none;
//         // background-color: #fff;

//         .section-title {
//             padding-top: 0;
//         }

//         // h1 {
//         //     margin-top: 0;
//         // }

//         .review {
//             line-height: 1.75;
//         }
//     }

//     .review-sub-text {
//         display: flex;
//         flex-direction: column;

//     }

//     .page-15 {
//         padding: 0;
//         height: auto;
//         margin: 0;

//         .section-title {
//             padding: 0;
//             text-align: center;
//         }

//         .team {
//             display: flex;
//             flex-direction: column;

//             &-item {
//                 display: flex;
//                 flex-direction: column;
//                 margin-top: 2rem;
//                 margin-bottom: 2rem;
//                 align-items: center;
//                 width: 100%;
//             }

//         }

//     }

//     .page-16 {
//         padding: 0 0.5rem;
//         height: auto;

//         .form {
//             line-height: 1.8rem;

//             &-title {
//                 // h1 {
//                 //     font-size: 1.5rem;
//                 //     padding: 0;
//                 //     margin-top: 3rem;
//                 // }
//             }

//             &-item-1 {
//                 width: 100%;

//                 h2 {
//                     font-size: 1.2rem;
//                     margin-top: 2rem;
//                 }
//             }

//             &-item-2 {
//                 width: 100%;
//                 font-size: 1.3rem;
//             }

//             &-item-3 {
//                 width: 100%;
//                 font-size: 1.3rem;

//             }


//             &-button {
//                 width: 250px;
//                 padding: 12px;
//                 font-size: 1.5rem;

//                 &::after {
//                     display: none;
//                 }

//             }

//         }
//     }
// }

// // }


// @media screen and (min-width: 425px) and (max-width: 767px) {
//     // .wrapper-14-16 {
//     //     min-width: 425px;
//     //     max-width: 425px;

//     .page-14 {
//         padding: 0 0.5rem;
//         height: auto;
//         // background-image: none;
//         // background-color: #fff;

//         .section-title {
//             padding-top: 0;
//         }

//         // h1 {
//         //     margin-top: 0;
//         // }

//         .review {
//             line-height: 1.75;
//         }
//     }

//     .review-sub-text {
//         display: flex;
//         flex-direction: column;

//     }

//     .page-15 {
//         padding: 0;
//         height: auto;
//         margin: 0;

//         .team {
//             display: flex;
//             flex-direction: column;

//             &-item {
//                 display: flex;
//                 flex-direction: column;
//                 margin-top: 2rem;
//                 margin-bottom: 2rem;
//                 align-items: center;
//                 width: 100%;
//             }

//         }

//     }

//     .page-16 {
//         padding: 0 0.5rem;
//         height: auto;

//         .form {
//             &-title {
//                 // h1 {
//                 //     font-size: 2rem;
//                 //     padding: 0;
//                 // }
//             }

//             &-item-1 {
//                 width: 100%;

//                 h2 {
//                     font-size: 1.6rem;
//                 }
//             }

//             &-item-2 {
//                 width: 100%;
//                 font-size: 1.7rem;
//                 margin-top: 2rem;
//             }

//             &-item-3 {
//                 width: 100%;
//                 font-size: 1.3rem;

//             }


//             &-button {
//                 width: 250px;
//                 padding: 2rem 2rem;
//                 font-size: 1.7rem;
//             }

//         }
//     }
// }

// // }


// @media screen and (min-width: 768px) and (max-width: 1023px) {
//     // .wrapper-14-16 {
//     //     min-width: 768px;
//     //     max-width: 768px;

//     .page-14 {
//         padding: 0 0.5rem;
//         height: auto;
//         // background-image: none;
//         // background-color: #fff;

//         .section-title {
//             padding-top: 0;
//         }

//         // h1 {
//         //     margin-top: 0;
//         // }

//         .review {
//             line-height: 1.75;
//         }
//     }

//     .review-sub-text {
//         display: flex;
//         flex-direction: column;


//     }

//     .page-15 {
//         padding: 0;
//         height: auto;
//         margin: 0;

//         .team {
//             display: flex;
//             flex-direction: column;

//             &-item {
//                 display: flex;
//                 justify-content: space-around;
//                 margin-top: 2rem;
//                 margin-bottom: 2rem;
//                 align-items: center;
//                 width: 100%;
//             }

//         }

//     }

//     .page-16 {
//         padding: 0 0.5rem;
//         height: auto;

//         .form {
//             &-title {
//                 // h1 {
//                 //     font-size: 2.5rem;
//                 //     padding: 0;
//                 // }
//             }

//             &-item-1 {
//                 width: 100%;

//                 h2 {
//                     font-size: 2rem;
//                 }
//             }

//             &-item-2 {
//                 width: 100%;
//                 font-size: 1.3rem;
//             }

//             &-item-3 {
//                 width: 100%;
//                 font-size: 1.3rem;

//             }


//             &-button {
//                 width: 250px;
//                 padding: 2rem 4rem;
//                 font-size: 1.5rem;

//                 // &::after {
//                 //     display: none;
//                 // }

//             }

//         }
//     }
// }

// // }

// @media screen and (min-width: 1024px) and (max-width: 1439px) {
//     // .wrapper-14-16 {
//     //     min-width: 1024px;
//     //     max-width: 1024px;

//     .page-14 {
//         padding: 0 0.5rem;
//         height: auto;
//         // background-image: none;
//         // background-color: #fff;

//         .section-title {
//             padding-top: 0;
//         }

//         // h1 {
//         //     margin-top: 0;
//         // }

//         .review {
//             line-height: 1.75;
//         }
//     }

//     .review-sub-text {
//         display: flex;
//         flex-direction: column;


//     }

//     .page-15 {
//         padding: 0;
//         height: auto;
//         margin: 0;

//         .team {
//             display: flex;
//             flex-direction: column;

//             &-item {
//                 display: flex;
//                 justify-content: space-around;
//                 margin-top: 2rem;
//                 margin-bottom: 2rem;
//                 align-items: center;
//                 width: 100%;
//             }

//         }

//     }

//     .page-16 {
//         padding: 0 0.5rem;
//         height: auto;

//         .form {
//             &-title {
//                 // h1 {
//                 //     font-size: 2.5rem;
//                 //     padding: 0;
//                 // }
//             }

//             &-item-1 {
//                 width: 100%;

//                 h2 {
//                     font-size: 2.0rem;
//                 }
//             }

//             &-item-2 {
//                 width: 100%;
//                 font-size: 2rem;
//             }

//             &-item-3 {
//                 width: 100%;
//                 font-size: 2rem;

//             }


//             &-button {
//                 width: 250px;
//                 padding: 2rem 4rem;
//                 font-size: 1.8rem;
//                 margin-top: 2rem;

//                 // &::after {
//                 //     display: none;
//                 // }

//             }

//         }
//     }
// }

// // }

// @media screen and (min-width: 1440px) and (max-width: 2000px) {
//     // .wrapper-14-16 {
//     //     min-width: 1440px;
//     //     max-width: 1440px;

//     .page-14 {
//         padding: 0 0.5rem;
//         height: auto;
//         // background-image: url(../images/img_p14_bg.jpg);
//         // background-color: #fff;
//         height: 56rem;

//         .section-title {
//             padding-top: 6.5rem;
//         }

//         // h1 {
//         //     margin-top: 0;
//         // }

//         .review {

//             line-height: 1.3rem;
//             font-size: 1.1rem;
//             height: 45rem;
//             font-size: 1.1rem;

//             .review-sub-text {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: flex-end;
//                 margin-right: 7rem;
//             }
//         }
//     }



//     .page-15 {
//         padding: 0;
//         height: auto;
//         margin: 0;

//         .section-title {
//             padding-top: 0rem;

//         }

//         .team {
//             // display: flex;
//             // flex-direction: column;
//             display: flex;
//             flex-wrap: wrap;
//             align-items: center;
//             justify-content: space-evenly;
//             margin-top: 6.5rem;

//             &-item {
//                 display: flex;
//                 justify-content: space-around;
//                 margin-top: 2rem;
//                 margin-bottom: 2rem;
//                 align-items: center;
//                 width: 50%;
//             }

//         }

//     }

//     .page-16 {
//         padding: 0 0.5rem;
//         height: auto;

//         .form {
//             &-title {
//                 // h1 {
//                 //     font-size: 3.5rem;
//                 //     padding: 0;
//                 // }
//             }

//             &-item-1 {
//                 width: 100%;

//                 h2 {
//                     font-size: 3.0rem;
//                 }
//             }

//             &-item-2 {
//                 width: 100%;
//                 font-size: 2rem;
//             }

//             &-item-3 {
//                 width: 100%;
//                 font-size: 2rem;

//             }


//             &-button {
//                 width: 350px;
//                 padding: 2rem 4rem;
//                 font-size: 1.8rem;
//                 margin-top: 2rem;

//                 // &::after {
//                 //     display: none;
//                 // }

//             }

//         }
//     }
// }

// // }