* {
    // outline: darkcyan 1px dotted;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

.why-important__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.why-important__title {}

.why-important__number {
    font-size: 5rem;
    color: $turquoise-color;
}

.why-important__block {}

.why-important__footer {}