@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

/*start page 10*/

.wrapper-intelclub {
    overflow: hidden;
    height: 99vh;
    max-width: 99vw;
    background: rgba(39, 35, 35, 0.85) url(../images/img-bg_p10.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: darken;



    .intelclub-main {
        margin: 3rem 10rem 1rem 5rem;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 1.3rem;
        color: white;
        line-height: 1.7rem;
        overflow: hidden;

        .intelclub-main__title {
            letter-spacing: 0.1rem;
        }

        .intelclub-main__text {
            text-align: justify;
            font-size: 20px;
        }
    }
}

/*end page 10*/

/*start page 11*/

.wrapper-results {
    height: 99vh;
    max-width: 99vw;
    overflow: hidden;

    .results-main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        height: 99vh;
        width: 98vw;

        .results-main__img-area {
            grid-row: 1/2;
            grid-column: 1/2;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            justify-content: center;
            height: 99vh;
            width: 100%;
            margin-top: 5px;

            transition-duration: 2s;


            &:hover {
                transform: translate(5rem, 0);
                transition-duration: 2s;
            }

            .results-main__img {
                border-radius: 10rem;
                max-width: 100%;
            }
        }


        .results-main__text-area {
            grid-row: 1/2;
            grid-column: 2/4;
            margin: 2rem 5rem 0 8rem;
            text-align: justify;
            line-height: 1.7rem;

            .results-main__title {
                color: $gray-color;
                font-size: 40px;
            }

            .results-main__text {
                font-size: 20px;
            }
        }

    }
}

/*end page 11*/

/*start page 12*/

.wrapper-mission {
    height: 99vh;
    max-width: 99vw;
    background: rgba(255, 255, 255, 0.75) url(../images/img-bg_p12.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    margin-top: 10px;
    overflow: hidden;

    .mission-main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        height: 95%;
    }

    .mission-main__text-area {
        text-align: center;
    }

    .mission-main__title {
        font-size: 50px;
        color: $gray-color;
        margin-bottom: 3rem;
    }

    .mission-main__text {
        font-size: 35px;
        line-height: 3rem;
    }

}

/*end page 12*/

/*start page 13*/

.wrapper-advantages {
    display: grid;
    height: 99vh;
    max-width: 99vw;
    overflow: hidden;

    .advantages-main {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;

        .advantages-main__text-area {
            grid-row: 1/2;
            grid-column: 1/4;
            margin: 2rem 9rem 0 2rem;
            line-height: 1.9rem;


        }

        .advantages-main__title {
            color: $gray-color;
            font-size: 50px;
            padding: 0 0;
            margin: 0 0 2rem 0;
        }

        .advantages-main__list {
            font-size: 15px;


            .advantages-main__list-item {
                line-height: 1rem;
            }
        }

        .advantages-main__img-area {
            grid-row: 1/2;
            grid-column: 4/6;
            overflow: hidden;
            height: 99vh;
            width: 100%;
            margin: 0.5rem 0 0 0;
            transition-duration: 2s;

            &:hover {
                transform: translate(-5rem, 0);
                transition-duration: 2s;
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            }

            .advantages-main__img {
                border-radius: 10rem;
                max-width: 100%;
            }
        }
    }
}

/*end page 13*/

@media only screen and (min-width:768px) and (max-width:1023px) {


    
}