@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-fonts/Roboto-Medium.ttf);
}

.page-14 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  max-width: 90rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  background: rgba(0, 0, 0, 0.1) url(../images/img_p14_bg.jpg) no-repeat;
  background-size: cover;
}

.page-14 .review-header {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  margin-top: 2rem;
  padding-left: 2rem;
}

.page-14 .review-line {
  width: 70rem;
  height: 0.5rem;
  background-color: #00C7C2;
}

.page-14 .review-logo {
  background-image: url(../../assets/images/logo-light.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 5rem;
}

.page-14 .section-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #464242;
  padding-left: 2rem;
}

.page-14 .review {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 2.5rem;
}

.page-14 .review-item {
  border-left: #464242 solid 0.5rem;
  padding-left: 2rem;
}

.page-14 .review .review-sub-text {
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: italic;
}

.page-14 .review .review-text .review-1 .review-text-1 {
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.page-14 .review-2 .review-text-2 {
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.page-14 .review-3 .review-text-3 {
  display: flex;
  justify-content: flex-end;
}

.page-15 {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 90rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
}

.page-15 .review-header {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 3rem;
  padding-left: 2rem;
}

.page-15 .review-line {
  width: 70rem;
  height: 0.5rem;
  background-color: #00C7C2;
}

.page-15 .review-logo {
  background-image: url(../../assets/images/logo-light.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 5rem;
}

.page-15 .section-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #464242;
  padding-left: 2rem;
}

.page-15 .team {
  display: flex;
  max-width: 90rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.page-15 .team .team-item {
  display: flex;
}

.page-15 .team .team-text {
  justify-content: start;
  margin-left: 1.8rem;
  width: 12rem;
}

.page-15 .team h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #464242;
}

.page-15 .team p {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 2.5rem;
}

.page-15 .team .team-item-1 {
  width: 31rem;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.page-15 .team .team-item-1 .team-img-1 {
  background-image: url(../../assets/images/img_p15_1.png);
  width: 12rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.page-15 .team .team-item-2 {
  width: 31rem;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.page-15 .team .team-item-2 .team-img-2 {
  background-image: url(../../assets/images/img_p15_2.png);
  width: 12rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.page-15 .team .team-item-3 {
  width: 31rem;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.page-15 .team .team-item-3 .team-img-3 {
  background-image: url(../../assets/images/img_p15_3.png);
  width: 12rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.page-15 .team .team-item-4 {
  width: 31rem;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.page-15 .team .team-item-4 .team-img-4 {
  background-image: url(../../assets/images/img_p15_4.png);
  width: 12rem;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.page-16 {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 90rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
}

.page-16 .review-header {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 3rem;
  padding-left: 2rem;
}

.page-16 .review-line {
  width: 70rem;
  height: 0.5rem;
  background-color: #00C7C2;
}

.page-16 .review-logo {
  background-image: url(../../assets/images/logo-light.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 5rem;
}

.page-16 .form {
  display: flex;
  min-width: 90rem;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.page-16 .form h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #464242;
}

.page-16 .form .form-item-1 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #464242;
}

.page-16 .form .form-item-2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #464242;
  margin-top: 3rem;
}

.page-16 .form .form-item-3 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #00C7C2;
  margin-top: 3rem;
}

.page-16 .form-button {
  align-self: center;
  position: relative;
  border: solid 1px #00C7C2;
  padding: 2rem 13rem;
  border-radius: 25px;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.page-16 .form-button::after {
  background-image: url(../../assets/images/img_p16.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  position: absolute;
  right: -20px;
  bottom: -20px;
}

.page-16 .form-button a {
  text-decoration: none;
  color: #00C7C2;
}

/*# sourceMappingURL=page14-15-16.css.map */